Repository bougieL/tts-fluent: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

feat: add style icon
  src/main/server/transfer/dataStream.ts
  src/renderer/views/Downloads/index.tsx
  src/renderer/views/Settings/AppVersion.tsx
  src/renderer/views/Settings/ManagePlayCache.tsx
  src/renderer/views/Settings/TTSDownloadsDirectory.tsx
  src/renderer/views/Settings/TransferDirectory.tsx
  src/renderer/views/Transfer/HostServer.tsx
  src/renderer/views/Transfer/SendFiles/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: support dark transfer page
  src/renderer/views/ChangeLog.tsx
  src/transfer/App.tsx
  src/transfer/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

chore: bump version
  release/app/package.json
  src/main/windows/main.ts
Due: cross-env NODE_ENV=development eslint --cache

chore: code opt
  src/main/ipcEvents/microsoftTts.ts
  src/renderer/App.tsx
  src/renderer/Widgets/AudioIndicator.tsx
  src/renderer/components/ForceUpdate.tsx
  src/renderer/hooks/version.tsx
  src/renderer/lib/Audio/StreamAudio.ts
Due: cross-env NODE_ENV=development eslint --cache

chore: bump version
  release/app/package.json
Due: none

chore: opt code
  src/renderer/components/ThemeProvider.tsx
  src/renderer/hooks/index.ts
  src/renderer/hooks/useSystemColorScheme.ts
  src/transfer/App.tsx
  src/transfer/hooks/index.ts
  src/transfer/hooks/useSystemColorScheme.ts
Due: cross-env NODE_ENV=development eslint --cache

chore: code opt
  src/caches/index.ts
  src/main/server/index.ts
  src/main/server/transfer/alive.ts
  src/renderer/hooks/useServerConfig.ts
  src/renderer/views/Transfer/ConnectedDevices.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix: markdown style
  .erb/scripts/_utils.js
  .erb/scripts/build.js
  release/app/package.json
  src/renderer/components/Markdown/index.tsx
  src/renderer/components/Markdown/style.scss
  src/renderer/lib/Audio/StreamAudio.ts
  src/renderer/views/Settings/CheckUpdate.tsx
  src/renderer/views/TTSCat/index.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: crawal log
  release/app/package.json
  src/caches/downloads.ts
  src/lib/log.ts
  src/main/main.ts
  src/main/server/ttsCat/aiChat.ts
  src/renderer/components/Markdown/style.scss
  src/renderer/index.tsx
  src/renderer/views/Transfer/HostServer.tsx
  src/transfer/index.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: add log
  .erb/configs/webpack.config.main.prod.ts
  .erb/configs/webpack.config.renderer.prod.ts
  .erb/configs/webpack.config.transfer.prod.ts
  src/lib/log.ts
  src/main/server/ttsCat/aiChat.ts
  src/renderer/index.tsx
  src/renderer/lib/Audio/StreamAudio.ts
  src/renderer/views/MicrosoftTTS/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix: stream error
  release/app/package.json
  src/lib/log.ts
  src/renderer/lib/Audio/StreamAudio.ts
Due: cross-env NODE_ENV=development eslint --cache

feat: init badanmu main
  package.json
  pnpm-lock.yaml
  src/__tests__/badanmu.test.ts
  src/const/Badanmu.ts
  src/const/IpcEvents.ts
  src/const/index.ts
  src/main/server/badanmu/alive.ts
  src/main/server/badanmu/index.ts
  src/main/server/index.ts
  src/renderer/lib/storage.ts
  src/renderer/views/Badanmu/index.tsx
  src/renderer/views/routes.ts
  src/types/index.ts
Due: cross-env NODE_ENV=development eslint --cache

chore: init badanmu web
  .erb/configs/webpack.config.badanmu.dev.ts
  .erb/configs/webpack.config.badanmu.prod.ts
  .erb/configs/webpack.paths.ts
  src/badanmu/App.scss
  src/badanmu/App.tsx
  src/badanmu/Views/Clipboard.tsx
  src/badanmu/Views/Dropzone.tsx
  src/badanmu/Views/ReceiveFiles.tsx
  src/badanmu/Views/index.tsx
  src/badanmu/hooks/index.ts
  src/badanmu/hooks/useReceiveFiles.tsx
  src/badanmu/hooks/useServer.ts
  src/badanmu/hooks/useServerAliveSse.ts
  src/badanmu/hooks/useSystemColorScheme.ts
  src/badanmu/index.ejs
  src/badanmu/index.tsx
  src/badanmu/lib/detectMobile.ts
  src/badanmu/lib/saveFile.ts
  src/badanmu/requests/_http.ts
  src/badanmu/requests/alive.ts
  src/badanmu/requests/data.ts
  src/badanmu/requests/index.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: badanmu build init
  .erb/configs/webpack.config.badanmu.dev.ts
  .erb/configs/webpack.paths.ts
  .erb/scripts/build.js
  .gitignore
  package.json
  pnpm-lock.yaml
  release/app/package.json
  src/__tests__/badanmu.test.ts
  src/badanmu/App.scss
  src/badanmu/App.tsx
  src/badanmu/Views/Clipboard.tsx
  src/badanmu/Views/DanmuList.tsx
  src/badanmu/Views/Dropzone.tsx
  src/badanmu/Views/ReceiveFiles.tsx
  src/badanmu/Views/index.tsx
  src/badanmu/Views/style.scss
  src/badanmu/hooks/index.ts
  src/badanmu/hooks/useReceiveFiles.tsx
  src/badanmu/hooks/useServer.ts
  src/badanmu/hooks/useServerAliveSse.ts
  src/badanmu/hooks/useSystemColorScheme.ts
  src/badanmu/index.ejs
  src/badanmu/index.tsx
  src/badanmu/lib/detectMobile.ts
  src/badanmu/lib/saveFile.ts
  src/badanmu/requests/_http.ts
  src/badanmu/requests/alive.ts
  src/badanmu/requests/data.ts
  src/badanmu/requests/index.ts
  src/badanmu/styles/index.scss
  src/const/Badanmu.ts
  src/lib/log.ts
  src/main/server/badanmu/alive.ts
  src/main/server/badanmu/index.ts
  src/main/server/badanmu/static.ts
  src/main/windows/common.ts
  src/main/windows/main.ts
  src/renderer/views/Badanmu/index.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: badanmu build init
  src/renderer/views/Badanmu/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: add text carousel
  src/badanmu/App.scss
  src/badanmu/App.tsx
  src/badanmu/Views/DanmuList.tsx
  src/badanmu/Views/DanmuList/index.tsx
  src/badanmu/Views/DanmuList/style.scss
  src/badanmu/Views/TextCarousel/index.tsx
  src/badanmu/Views/TextCarousel/styles.scss
  src/badanmu/Views/style.scss
  src/badanmu/index.tsx
  src/badanmu/requests/SpeakerQueue.ts
  src/badanmu/requests/_http.ts
  src/badanmu/requests/alive.ts
  src/badanmu/styles/index.scss
  src/const/Badanmu.ts
  src/main/server/badanmu/alive.ts
  src/renderer/views/Badanmu/index.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: badanmu support emoj
  release/app/package.json
  src/badanmu/App.scss
  src/badanmu/App.tsx
  src/badanmu/Views/DanmuList/index.tsx
  src/badanmu/Views/DanmuList/style.scss
  src/badanmu/Views/TextCarousel/index.tsx
  src/badanmu/Views/TextCarousel/styles.scss
  src/badanmu/index.ejs
  src/badanmu/index.tsx
  src/lib/log.ts
  src/main/server/badanmu/alive.ts
  src/renderer/views/Badanmu/index.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: update badanmu renderer style
  src/renderer/views/Badanmu/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: update build config
  .erb/configs/webpack.config.badanmu.dev.ts
  .erb/configs/webpack.config.badanmu.prod.ts
  .erb/configs/webpack.config.h5.dev.ts
  .erb/configs/webpack.config.h5.prod.ts
  .erb/configs/webpack.paths.ts
  src/h5/App.scss
  src/h5/App.tsx
  src/h5/Views/Clipboard.tsx
  src/h5/Views/Dropzone.tsx
  src/h5/Views/ReceiveFiles.tsx
  src/h5/Views/index.tsx
  src/h5/hooks/index.ts
  src/h5/hooks/useReceiveFiles.tsx
  src/h5/hooks/useServer.ts
  src/h5/hooks/useServerAliveSse.ts
  src/h5/hooks/useSystemColorScheme.ts
  src/h5/index.ejs
  src/h5/index.tsx
  src/h5/lib/detectMobile.ts
  src/h5/lib/saveFile.ts
  src/h5/requests/_http.ts
  src/h5/requests/alive.ts
  src/h5/requests/data.ts
  src/h5/requests/index.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

chore: move h5
  src/h5/badanmu/App.scss
  src/h5/badanmu/App.tsx
  src/h5/badanmu/Views/DanmuList/index.tsx
  src/h5/badanmu/Views/DanmuList/style.scss
  src/h5/badanmu/Views/TextCarousel/index.tsx
  src/h5/badanmu/Views/TextCarousel/styles.scss
  src/h5/badanmu/hooks/index.ts
  src/h5/badanmu/hooks/useServerAliveSse.ts
  src/h5/badanmu/index.ejs
  src/h5/badanmu/index.tsx
  src/h5/badanmu/requests/SpeakerQueue.ts
  src/h5/badanmu/requests/_http.ts
  src/h5/badanmu/requests/alive.ts
  src/h5/badanmu/requests/index.ts
  src/h5/badanmu/styles/index.scss
  src/h5/transfer/App.scss
  src/h5/transfer/App.tsx
  src/h5/transfer/Views/Clipboard.tsx
  src/h5/transfer/Views/Dropzone.tsx
  src/h5/transfer/Views/ReceiveFiles.tsx
  src/h5/transfer/Views/index.tsx
  src/h5/transfer/hooks/index.ts
  src/h5/transfer/hooks/useReceiveFiles.tsx
  src/h5/transfer/hooks/useServer.ts
  src/h5/transfer/hooks/useServerAliveSse.ts
  src/h5/transfer/hooks/useSystemColorScheme.ts
  src/h5/transfer/index.ejs
  src/h5/transfer/index.tsx
  src/h5/transfer/lib/detectMobile.ts
  src/h5/transfer/lib/saveFile.ts
  src/h5/transfer/requests/_http.ts
  src/h5/transfer/requests/alive.ts
  src/h5/transfer/requests/data.ts
  src/h5/transfer/requests/index.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

refactor: merge h5
  .erb/configs/webpack.config.h5.dev.ts
  package.json
  src/h5/App.scss
  src/h5/App.tsx
  src/h5/Home/index.tsx
  src/h5/badanmu/App.scss
  src/h5/badanmu/App.tsx
  src/h5/badanmu/hooks/useServerAliveSse.ts
  src/h5/badanmu/index.tsx
  src/h5/index.ejs
  src/h5/index.tsx
  src/h5/transfer/App.scss
  src/h5/transfer/App.tsx
  src/h5/transfer/Views/Clipboard.tsx
  src/h5/transfer/Views/ReceiveFiles.tsx
  src/h5/transfer/Views/index.tsx
  src/h5/transfer/hooks/useReceiveFiles.tsx
  src/h5/transfer/hooks/useServerAliveSse.ts
  src/h5/transfer/index.ejs
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: finish merge h5
  .erb/configs/webpack.config.h5.prod.ts
  .erb/scripts/build.js
  .gitignore
  src/h5/App.scss
  src/h5/App.tsx
  src/main/server/badanmu/index.ts
  src/main/server/badanmu/static.ts
  src/main/server/index.ts
  src/main/server/static.ts
  src/main/server/transfer/index.ts
  src/main/server/transfer/static.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: speak danmu
  src/h5/badanmu/App.tsx
  src/h5/badanmu/Views/TextCarousel/styles.scss
  src/h5/badanmu/requests/SpeakQueue.ts
  src/h5/badanmu/requests/alive.ts
  src/main/server/static.ts
  src/renderer/views/Badanmu/index.tsx
  src/renderer/views/MicrosoftTTS/SsmlDistributor.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: speak danmu
  src/h5/badanmu/App.scss
  src/h5/badanmu/Views/DanmuList/style.scss
  src/h5/badanmu/requests/SpeakQueue.ts
  src/h5/badanmu/requests/alive.ts
  src/main/main.ts
  src/renderer/views/Badanmu/index.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: danmu float window
  release/app/package.json
  src/const/IpcEvents.ts
  src/h5/badanmu/App.tsx
  src/h5/badanmu/Views/TextCarousel/styles.scss
  src/h5/badanmu/requests/SpeakQueue.ts
  src/h5/badanmu/requests/alive.ts
  src/main/ipcEvents/badanmu.ts
  src/main/ipcEvents/index.ts
  src/main/windows/badanmuFloat.ts
  src/main/windows/index.ts
  src/renderer/App.tsx
  src/renderer/lib/storage.ts
  src/renderer/views/Badanmu/FloatWindow.tsx
  src/renderer/views/Badanmu/Setting.tsx
  src/renderer/views/Badanmu/common.ts
  src/renderer/views/Badanmu/index.tsx
  src/types/index.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: danmu float window position and size
  src/h5/Home/index.tsx
  src/h5/badanmu/requests/_http.ts
  src/h5/index.tsx
  src/h5/transfer/requests/_http.ts
  src/main/ipcEvents/badanmu.ts
  src/main/windows/badanmuFloat.ts
  src/renderer/views/Badanmu/Setting.tsx
  src/renderer/views/Badanmu/common.ts
  src/renderer/views/Badanmu/index.tsx
  src/types/index.ts
Due: cross-env NODE_ENV=development eslint --cache

chore: code opt
  .erb/configs/webpack.config.h5.prod.ts
  .erb/configs/webpack.config.main.prod.ts
  .erb/configs/webpack.config.renderer.prod.ts
  src/h5/App.tsx
  src/h5/badanmu/index.tsx
  src/h5/badanmu/style.scss
  src/h5/transfer/index.tsx
  src/h5/transfer/style.scss
  src/main/server/transfer/alive.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: support windows
  .erb/scripts/build.js
  package.json
  pnpm-lock.yaml
  src/h5/App.tsx
  src/h5/NotFound/index.tsx
  src/h5/badanmu/index.tsx
  src/h5/transfer/index.tsx
  src/renderer/views/TTSCat/Display.tsx
  src/renderer/views/Transfer/HostServer.tsx
  src/renderer/views/Transfer/SendFiles/Dropzone.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: use workspace
  .eslintignore
  package.json
  packages/.gitignore
  packages/badanmu/package.json
  packages/tts-node/package.json
  packages/tts-node/readme.md
  packages/tts-node/src/converter.ts
  packages/tts-node/src/index.ts
  packages/tts-node/src/outputFormats.ts
  packages/tts-node/src/ssmlConverter.ts
  packages/tts-node/src/voices.ts
  packages/tts-node/tsconfig.esm.json
  packages/tts-node/tsconfig.json
  pnpm-lock.yaml
  release/app/package.json
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

Path conditions:
  cross-env NODE_ENV=development eslint --cache: any of: *.{js,jsx,ts,tsx}
  prettier --ignore-path .eslintignore --parser json --write: any of: *.json,.{eslintrc,prettierrc}
  prettier --ignore-path .eslintignore --single-quote --write: (any of: *.{css,scss}) or (any of: *.{html,md,yml})
