Repository bougieL/tts-fluent: changes, and which lint-staged commands are due for each by the changed paths.
All: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --parser json --write, prettier --ignore-path .eslintignore --single-quote --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "cross-env NODE_ENV=development eslint --cache"
  ],
  "*.json,.{eslintrc,prettierrc}": [
    "prettier --ignore-path .eslintignore --parser json --write"
  ],
  "*.{css,scss}": [
    "prettier --ignore-path .eslintignore --single-quote --write"
  ],
  "*.{html,md,yml}": [
    "prettier --ignore-path .eslintignore --single-quote --write"
  ]
}

feat: update tts-node
  package.json
  pnpm-lock.yaml
  src/main/main.ts
  src/renderer/App.scss
  src/renderer/App.tsx
  src/renderer/views/Downloads/index.tsx
  src/renderer/views/Header.tsx
  src/renderer/views/MicrosoftTTS/SsmlDistributor.tsx
  src/renderer/views/TTSCat/Display.tsx
  src/renderer/views/TTSCatEditor/index.tsx
  src/renderer/views/Transfer/ConnectedDevices.tsx
  src/renderer/views/Transfer/HostServer.tsx
  src/renderer/views/Transfer/SendFiles/Dropzone.tsx
  src/renderer/views/Transfer/SendFiles/index.tsx
  src/renderer/views/Transfer/index.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

chore: support tree shaking
  .erb/configs/webpack.config.base.ts
  .erb/configs/webpack.config.renderer.prod.ts
  .eslintignore
  .gitignore
  package.json
  scripts/_utils.js
  scripts/build.js
  src/renderer/index.tsx
  src/renderer/views/CodeEditor/index.tsx
  tsconfig.json
  typings/mantine.d.ts
Due: cross-env NODE_ENV=development eslint --cache

chore: support tree shaking
  .erb/configs/webpack.config.base.ts
  .eslintignore
  package.json
  release/app/package.json
  scripts/build.js
  tsconfig.json
Due: cross-env NODE_ENV=development eslint --cache

chore: support tree shaking
  tsconfig.prod.json
Due: none

fix: webpack warning
  src/renderer/hooks/version.tsx
  src/renderer/views/Settings/AppVersion.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: add badge
  release/app/package.json
  src/renderer/App.tsx
  src/renderer/components/external.ts
  src/renderer/views/Downloads/Cell.tsx
  src/renderer/views/Header.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix: rate and pitch
  src/renderer/App.scss
  src/renderer/App.tsx
  src/renderer/views/Header.tsx
  src/renderer/views/MicrosoftTTS/SsmlDistributor.tsx
  src/renderer/views/TTSCatEditor/AiChatEditor.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

chore: remove components external
  src/renderer/App.tsx
  src/renderer/Widgets/AudioIndicator.tsx
  src/renderer/components/external.bak.ts
  src/renderer/components/index.ts
  src/renderer/components/withWindow.tsx
  src/renderer/views/Downloads/Cell.tsx
  src/renderer/views/Downloads/index.tsx
  src/renderer/views/Header.tsx
  src/renderer/views/MicrosoftTTS/Buttons.tsx
  src/renderer/views/MicrosoftTTS/Dropzone.tsx
  src/renderer/views/MicrosoftTTS/Inputs.tsx
  src/renderer/views/MicrosoftTTS/SsmlDistributor.tsx
  src/renderer/views/MicrosoftTTS/index.tsx
  src/renderer/views/Settings/AppVersion.tsx
  src/renderer/views/Settings/CheckUpdate.tsx
  src/renderer/views/Settings/FeedBack.tsx
  src/renderer/views/Settings/ManagePlayCache.tsx
  src/renderer/views/Settings/TTSDownloadsDirectory.tsx
  src/renderer/views/Settings/TransferDirectory.tsx
  src/renderer/views/TTSCat/Display.tsx
  src/renderer/views/TTSCat/index.tsx
  src/renderer/views/TTSCatEditor/AiChatEditor.tsx
  src/renderer/views/TTSCatEditor/index.tsx
  src/renderer/views/Transfer/Clipboard.tsx
  src/renderer/views/Transfer/ConnectedDevices.tsx
  src/renderer/views/Transfer/HostServer.tsx
  src/renderer/views/Transfer/SendFiles/Dropzone.tsx
  src/renderer/views/Transfer/SendFiles/index.tsx
  src/renderer/views/Transfer/index.tsx
  src/renderer/views/routes.ts
Due: cross-env NODE_ENV=development eslint --cache

chore: remove hooks external
  src/renderer/components/external.bak.ts
  src/renderer/components/index.ts
  src/renderer/hooks/downloads.ts
  src/renderer/hooks/external.ts
  src/renderer/hooks/index.ts
  src/renderer/hooks/useServerConfig.ts
  src/renderer/hooks/version.tsx
  src/renderer/views/CodeEditor/index.tsx
  src/renderer/views/Downloads/Cell.tsx
  src/renderer/views/Downloads/index.tsx
  src/renderer/views/Header.tsx
  src/renderer/views/Markdown/index.tsx
  src/renderer/views/Settings/ManagePlayCache.tsx
  src/renderer/views/Settings/TTSDownloadsDirectory.tsx
  src/renderer/views/Settings/TransferDirectory.tsx
  src/renderer/views/TTSCatEditor/index.tsx
  src/renderer/views/Transfer/ConnectedDevices.tsx
Due: cross-env NODE_ENV=development eslint --cache

fix: sort import
  src/renderer/components/withWindow.tsx
  src/transfer/App.tsx
  src/transfer/Views/Clipboard.tsx
  src/transfer/Views/Dropzone.tsx
  src/transfer/Views/ReceiveFiles.tsx
  src/transfer/Views/index.tsx
  src/transfer/components/external.ts
  src/transfer/components/index.ts
  src/transfer/hooks/useReceiveFiles.tsx
Due: cross-env NODE_ENV=development eslint --cache

chore: migrate transfer ui
  .erb/configs/webpack.config.transfer.prod.ts
  package.json
  pnpm-lock.yaml
  src/transfer/App.scss
  src/transfer/App.tsx
  src/transfer/Views/Clipboard.tsx
  src/transfer/Views/Dropzone.tsx
  src/transfer/Views/ReceiveFiles.tsx
  src/transfer/Views/index.tsx
  src/transfer/hooks/useReceiveFiles.tsx
  src/transfer/index.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

chore: update codemirror
  package.json
  pnpm-lock.yaml
  src/renderer/App.scss
  src/renderer/views/CodeEditor/index.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: custom theme
  src/caches/config.ts
  src/const/IpcEvents.ts
  src/main/ipcEvents/app.ts
  src/main/windows/main.ts
  src/renderer/App.tsx
  src/renderer/Widgets/AudioIndicator.tsx
  src/renderer/components/ThemeProvider.tsx
  src/renderer/components/index.ts
  src/renderer/views/Downloads/Cell.tsx
  src/renderer/views/MicrosoftTTS/Inputs.tsx
  src/renderer/views/Settings/ThemePrefer.tsx
  src/renderer/views/Settings/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

refactor: theme
  release/app/package.json
  src/caches/config.ts
  src/const/index.ts
  src/const/miscs.ts
  src/main/ipcEvents/app.ts
  src/main/ipcEvents/window.ts
  src/main/main.ts
  src/main/windows/common.ts
  src/main/windows/main.ts
  src/main/windows/openSubWindow.ts
  src/renderer/App.scss
  src/renderer/App.tsx
  src/renderer/Widgets/AudioIndicator.tsx
  src/renderer/components/ThemeProvider.tsx
  src/renderer/hooks/audio.tsx
  src/renderer/views/MicrosoftTTS/index.tsx
  src/renderer/views/Settings/ThemePrefer.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: unitlize theme color
  src/main/ipcEvents/window.ts
  src/main/windows/common.ts
  src/renderer/views/MicrosoftTTS/Dropzone.tsx
  src/renderer/views/Transfer/HostServer.tsx
  src/renderer/views/Transfer/SendFiles/Dropzone.tsx
  src/transfer/Views/Dropzone.tsx
Due: cross-env NODE_ENV=development eslint --cache

chore: store theme in ram
  src/caches/config.ts
  src/main/ipcEvents/window.ts
Due: cross-env NODE_ENV=development eslint --cache

feat: add tray
  assets/icons/tray.ico
  assets/icons/tray.png
  assets/icons/tray@2x.png
  src/main/ipcEvents/window.ts
  src/main/main.ts
  src/main/tray.ts
  src/renderer/App.tsx
  src/renderer/views/Header.tsx
Due: cross-env NODE_ENV=development eslint --cache

chore: bump version
  release/app/package.json
  src/main/tray.ts
  src/renderer/hooks/version.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: add parent window
  src/main/main.ts
  src/main/tray.ts
  src/main/windows/main.ts
  src/main/windows/openSubWindow.ts
  src/types/index.ts
Due: cross-env NODE_ENV=development eslint --cache

chore: update deps
  package.json
  pnpm-lock.yaml
  release/app/package.json
Due: none

feat: update tts-node
  package.json
  pnpm-lock.yaml
  release/app/package.json
  src/renderer/views/Downloads/index.tsx
  src/renderer/views/MicrosoftTTS/Inputs.tsx
  src/renderer/views/MicrosoftTTS/SsmlDistributor.tsx
  src/renderer/views/TTSCatEditor/AiChatEditor.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: update tts header
  .erb/configs/webpack.config.base.ts
  .erb/configs/webpack.config.renderer.dev.ts
  .erb/configs/webpack.config.transfer.dev.ts
  pnpm-lock.yaml
  src/renderer/App.scss
  src/renderer/App.tsx
  src/renderer/components/Header.tsx
  src/renderer/components/index.ts
  src/renderer/components/withWindow.tsx
  src/renderer/hooks/useRenderBadge.tsx
  src/renderer/index.tsx
  src/renderer/views/Header.tsx
  src/renderer/views/TTSCatEditor/AiChatEditor.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: manage storage keys
  src/main/server/ttsCat/aiChat.ts
  src/renderer/components/ThemeProvider.tsx
  src/renderer/lib/storage.ts
  src/renderer/views/MicrosoftTTS/index.tsx
  src/renderer/views/TTSCat/index.tsx
  src/renderer/views/TTSCatEditor/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: init audio stream
  release/app/package.json
  src/renderer/hooks/audio.tsx
  src/renderer/lib/Audio/BufferAudio.ts
  src/renderer/lib/Audio/StreamAudio.ts
  src/renderer/lib/EventStream.ts
  src/renderer/views/MicrosoftTTS/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: single instance
  src/main/main.ts
  src/main/tray.ts
  src/main/windows/main.ts
Due: cross-env NODE_ENV=development eslint --cache

feat: stream audio
  src/renderer/hooks/audio.tsx
  src/renderer/lib/Audio/BufferAudio.ts
  src/renderer/lib/Audio/StreamAudio.ts
  src/renderer/lib/EventStream.ts
  src/renderer/views/Downloads/Cell.tsx
  src/renderer/views/MicrosoftTTS/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

chore: bump version
  release/app/package.json
Due: none

feat: event stream
  src/__tests__/os.js
  src/renderer/lib/Audio/StreamAudio.ts
  src/renderer/lib/EventStream.ts
Due: cross-env NODE_ENV=development eslint --cache

fix: ssml dist
  src/renderer/views/MicrosoftTTS/Buttons.tsx
  src/renderer/views/MicrosoftTTS/SsmlDistributor.tsx
  src/renderer/views/MicrosoftTTS/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

chore: remove local audio
  src/renderer/Widgets/AudioIndicator.tsx
  src/renderer/hooks/audio.tsx
  src/renderer/lib/Audio/LocalAudio.ts
  src/renderer/lib/Audio/StreamAudio.ts
  src/renderer/views/Downloads/Cell.tsx
  src/renderer/views/MicrosoftTTS/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: memo initial route
  src/caches/config.ts
  src/main/main.ts
  src/main/tray.ts
  src/renderer/App.tsx
  src/renderer/views/NotFound/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: custom audio stream
  release/app/package.json
  src/caches/config.ts
  src/main/main.ts
  src/renderer/hooks/audio.tsx
  src/renderer/lib/EventStream.ts
  src/renderer/views/MicrosoftTTS/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

chore: disable single instance lock
  src/main/windows/main.ts
Due: cross-env NODE_ENV=development eslint --cache

feat: stream audio
  release/app/package.json
  src/main/ipcEvents/microsoftTts.ts
  src/renderer/Widgets/AudioIndicator.tsx
  src/renderer/hooks/audio.tsx
  src/renderer/hooks/index.ts
  src/renderer/hooks/useFn.ts
  src/renderer/lib/Audio/StreamAudio.ts
  src/renderer/views/Downloads/Cell.tsx
  src/renderer/views/MicrosoftTTS/SsmlDistributor.tsx
  src/renderer/views/MicrosoftTTS/index.tsx
Due: cross-env NODE_ENV=development eslint --cache

feat: support disable play cache
  src/caches/config.ts
  src/const/IpcEvents.ts
  src/main/ipcEvents/microsoftTts.ts
  src/main/ipcEvents/window.ts
  src/main/tray.ts
  src/renderer/App.tsx
  src/renderer/views/Downloads/Cell.tsx
  src/renderer/views/Settings/ManagePlayCache.tsx
  src/renderer/views/Settings/TTSDownloadsDirectory.tsx
  src/renderer/views/Settings/TransferDirectory.tsx
Due: cross-env NODE_ENV=development eslint --cache

refactor: subwindow
  release/app/package.json
  src/main/main.ts
  src/main/tray.ts
  src/main/windows/main.ts
  src/main/windows/openSubWindow.ts
  src/renderer/App.scss
  src/renderer/App.tsx
  src/renderer/components/Header.tsx
  src/renderer/components/withWindow.tsx
  src/renderer/hooks/version.tsx
  src/renderer/views/Downloads/Cell.tsx
  src/renderer/views/ForceUpdate/index.tsx
  src/renderer/views/Markdown/style.scss
  src/renderer/views/NotFound/index.tsx
  src/renderer/views/Settings/CheckUpdate.tsx
  src/renderer/views/Settings/ManagePlayCache.tsx
  src/renderer/views/TTSCat/index.tsx
  src/renderer/views/routes.ts
  src/types/index.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

refactor: force update
  src/renderer/App.tsx
  src/renderer/components/ForceUpdate.tsx
  src/renderer/components/Header.tsx
  src/renderer/components/Markdown/index.tsx
  src/renderer/components/Markdown/style.scss
  src/renderer/hooks/version.tsx
  src/renderer/views/ChangeLog/index.tsx
  src/renderer/views/ChangeLog/style.scss
  src/renderer/views/ForceUpdate/index.tsx
  src/renderer/views/Settings/CheckUpdate.tsx
  src/renderer/views/routes.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

refactor: change log
  src/renderer/components/ForceUpdate.tsx
  src/renderer/hooks/version.tsx
  src/renderer/views/ChangeLog.tsx
  src/renderer/views/ChangeLog/index.tsx
  src/renderer/views/ChangeLog/style.scss
  src/renderer/views/Settings/AppVersion.tsx
  src/renderer/views/Settings/CheckUpdate.tsx
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write

feat: support expand download item
  release/app/package.json
  src/renderer/lib/storage.ts
  src/renderer/views/Downloads/Cell.tsx
  src/renderer/views/Downloads/index.tsx
  src/renderer/views/Downloads/style.scss
  src/renderer/views/Settings/CheckUpdate.tsx
  src/renderer/views/Settings/ManagePlayCache.tsx
  src/renderer/views/TTSCat/index.tsx
  src/types/index.ts
Due: cross-env NODE_ENV=development eslint --cache, prettier --ignore-path .eslintignore --single-quote --write
